// variables 
// colors
$vue-blue: #35495e;
$vue-green: #41b883;
$primary: #6BC7C5;
$secondary: #5E97CA;
$accent-1: #5173A2;
$accent-2: #585483;
$accent-3: #514365;
$white: whitesmoke;
$black: #444;
$lightgrey: lighten(lightgrey,10%);

// Responsive Sizes 
$sm: 320px;
$med: 768px;
$lg: 1024px;

// widths
$max-width: 1200px;